{% include 'system.j2' %}{% include 'chassis.j2' %}{% include 'interfaces.j2' %}{% include 'forwarding_options.j2' %}{% include 'policy_options.j2' %}{% include 'routing_instances.j2' %}{% include 'routing_options.j2' %}{% include 'protocols.j2' %}