protocols {
    bgp {
        group UNDERLAY {
            type external;
            family inet {
                unicast;
            }
            export EXPORT-LOOPBACK;
            hold-time {{ defaults.bgp.hold_time }};
            local-as {{ host['asn'] }};
            multipath {
                multiple-as;
            }
            bfd-liveness-detection {
                minimum-interval {{ defaults.bgp.bfd_min_interval }};
                multiplier {{ defaults.bgp.bfd_multiplier }};
                session-mode single-hop;
            }
{% for n in host['underlay_neighbors'] %}
            neighbor {{ n.ip }} {
                peer-as {{ n.asn }};
            }
{% endfor %}
        }
        group OVERLAY {
            type internal;
            multihop {
                ttl {{ defaults.bgp.multihop_ttl }};
                no-nexthop-change;
            }
            local-address {{ host['router_id'] }};
            family evpn {
                signaling {
                    loops {{ defaults.bgp.signaling_loops }};
                }
            }
{% if host['role_slug'] == 'spine' %}
            cluster {{ host['router_id'] }};
{% endif %}
            hold-time {{ defaults.bgp.hold_time }};
            local-as {{ defaults.bgp.overlay_asn }};
            bfd-liveness-detection {
                minimum-interval {{ defaults.bgp.bfd_min_interval }};
                multiplier {{ defaults.bgp.bfd_multiplier }};
                session-mode automatic;
            }
{% for ip in host['overlay_neighbors'] %}
            neighbor {{ ip }};
{% endfor %}
        }
        mtu-discovery;
        log-updown;
        graceful-restart {
            dont-help-shared-fate-bfd-down;
        }
    }
{% if host['role_slug'] == 'leaf' %}
    network-isolation {
        group {{ defaults.network_isolation.group_name }} {
            detection {
                hold-time up {{ defaults.network_isolation.hold_time_up }};
                service-tracking {
                    core-isolation;
                }
            }
            service-tracking-action link-down;
        }
    }
{% endif %}
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
}
